extends /layouts/main
include /mixins/stories-contact

block meta
  +meta({
      title:"The Iron Yard | Stories",
      description:"Jeremy Butler tells us how he went from beginner to landing a job as an iOS developer."
    })

block content
  +navigation({
    title: 'Stories: Jeremy Butler', 
    color: 'gray-dark',
    font: '40px'
  })

  .container
    .row(style="margin-top: 60px;")
      .col-md-8.col-xs-12
        p(style="font-style: italic;") Jeremy Butler toured the world playing music, but returned to his first love of programming through The Iron Yard. He now developes apps for State Farm.
        hr
        p I first became enthralled with computers when my elementary school received a donation of Macintosh LC's. I had never been on a computer before in my life, but they just made sense from the very moment I sat behind it. After I was requested to give Mac tutorials to classmates and some teachers, my mother recalls being asked by my Kindergarten teacher how long we've had a computer in the house, to which my mother responded, "we never have."
        p My affinity for technology only grew with every new video game console release starting with NES. From there I grew into what I felt was a healthy obsession with all things Apple. Saving every cent on my own, I purchased a 12" Apple PowerBook and in 2005, and so began my intrigue with the Mac OS.
        p Over the next few years I joined a band that toured the world on a major label, tried my hand at the college life with a degree in History, married my high school love at 22, and welcomed my first child at 25.
        p Continuously searching for what I would do with my life, I stumbled upon a conversation with a friend in a Pei-Wei parking lot that would lead my discovery of The Iron Yard, a coding academy offering a 12-week Mobile Engineering program. I graduated from The Iron Yard in October of 2014, and haven't looked back since. I've never been happier and I can't wait to see what the future holds for my family and me.
        p(style="font-style: italic;") Ready to start your story? Click <a href="http://theironyard.com/stories/academy/">here</a> to learn more about our courses!

      .col-md-4
        img.photo(src="/images/stories/jeremy-story.jpg" styles="max-width: 310px")
      .col-md-4 
        +stories-contact('Stories-Academy Landing')

