include /mixins/events
extends /layouts/main

block meta
  +meta({
    title: "The Iron Yard | Events",
    description: "We set out to build the events we've always wanted to attend."
  })

block content
  +navigation({
    title: 'Events',
    color: 'gray-dark',
    image: '/images/events/events-banner.jpg',
    cutout: true,
    links: [
      //- {title: "ConvergeSE", url: "http://convergese.com/"},
      //- {title: "BD Conf Nashville", url: "https://bdconf.com/events/nashville-2014/"},
      //- {title: "ConvergeRVA", url:"http://convergerva.com/"},
      //- {title: "BD Conf Orlando", url:"https://bdconf.com/events/orlando-2014/"},
      //- {title: "ConvergeFL", url:"http://convergefl.com/"},
      //- {title: "Greenville Grok", url:"/events/grok"}
    ]
  })

  .container.container-fluid(style="text-align:center")
    +events(
      [
        {
          name: "Converge SE",
          image: "/images/events/converge-se-2015.jpg",
          dates: "April 15-18, 2015",
          description: "Converge SE is the conference for those who want to build a beautiful web.",
          link: "http://convergese.com/",
          hr: true
        },
        {
          name: "Greenville GROK",
          image: "/images/events/grok-2015.jpg",
          dates: "April 29-May 1, 2015",
          description: "Instead of listening to speakers, GROK is built around group discussions called 10/20s.",
          link: "http://greenvillegrok.com/",
          hr: true
        },
        {
          name: "Front End Design Conference",
          image: "/images/events/front-end-conf-2015.jpg",
          dates: "May 21-22, 2015",
          description: "A conference for web professionals who love their community, the web, and learning.",
          link: "http://frontenddesignconference.com/",
          hr: true
        },
        {
          name: "36/86",
          image: "/images/events/3686-banner.jpg",
          dates: "June 8-10, 2015",
          description: "A gathering of incredible startup businesses, proven business leaders and strategic investors for a celebration of entrepreneurship and southern culture",
          link: "http://thirtysixeightysix.com/",
          hr: true
        },
        {
          name: "BD Conf Nashville",
          image: "/images/events/bd-conf-nashville-2015.jpg",
          dates: "June 19-20, 2015",
          description: "Breaking Development (BDConf) is a boutique multi location conference about the mobile web.",
          link: "http://bdconf.com/events/nashville/",
          hr: false
        }
      ])