mixin scholarship-app ()
  form#form5(name="form5" class="wufoo topLabel page1" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate="" action="https://ironyard.wufoo.com/forms/scholarship-applications/")
    ul.no-style-type(style="background-color:#e3e7e9; width: 100%; padding: 20px 0px 1px")
      li#fo5li5.notranslate
        label(class="desc" id="title5" for="Field5") Name*
          span#req_5.req
        div
          input#Field5(name="Field5" type="text" class="field text medium" value="" maxlength="255" tabindex="1" required)
      li#fo5li7.notranslate
        label(class="desc" id="title7" for="Field7") Email*
          span#req_7.req
        div
          input(id="Field7" name="Field7" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="2" required)
      li#fo5li9.phone.notranslate
        label(class="desc" id="title9" for="Field9") Phone Number*
          span#req_9.req    
        br
        span
          input#Field9(name="Field9" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="3" required)
          label(for="Field9") -
        span.symbol
        span
          input#Field9-1(name="Field9-1" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="4" required)
          label(for="Field9-1") -
        span.symbol
        span
          input(id="Field9-2" name="Field9-2" type="tel" class="field text" value="" size="4" maxlength="4" tabindex="5" required)
          label(for="Field9-2") 
      li#fo5li1.notranslate.diversity-schol-js
        label(class="desc" id="title1" for="Field1") Iron Yard Diversity Scholarship
        div
          textarea(id="Field1" name="Field1" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="1" style="width: 100%;")
      li#fo5li2.notranslate.mad-mobile-schol-js 
        label(class="desc" id="title2" for="Field2") Mad Mobile Scholarship
        div
        textarea#Field2(name="Field2" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="2" style="width: 100%;")
      li#fo5li3.notranslate.st-pete-schol-js  
        label(class="desc" id="title3" for="Field3") St. Petersburg Chamber Scholarship
        div
        textarea#Field3(name="Field3" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="3" style="width: 100%;")
      li.buttons(style="padding-left: 20px;")
        div
          input(type="hidden" name="currentPage" id="currentPage" value="MTZKUSmZOwzkiJ8wUfKjDRYB4nR7FssEaZ1MCwuBe59Ozo=")
          input(id="saveForm" name="saveForm" class="btTxt submit btn" type="submit" value="Submit" onmousedown="doSubmitEvents();")
      li.hide
        label(for="comment") Do Not Fill This Out
        textarea(name="comment" id="comment" rows="1" cols="1")
        input(type="hidden" id="idstamp" name="idstamp" value="apYfn+yk3Hx1LwxJ22uzeYDjQMY/Qn4nBDqYF+xvRjU=")
        input(type="hidden" id="stats" name="stats" value="{&quot;errors&quot;:0,&quot;startTime&quot;:0,&quot;endTime&quot;:0,&quot;referer&quot;:&quot;https:\/\/ironyard.wufoo.com\/admin\/&quot;}")
        input(type="hidden" id="clickOrEnter" name="clickOrEnter" value="")
