mixin scholarship-app ()
  form#form5(name="form5" class="wufoo topLabel page1" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate="" action="https://ironyard.wufoo.com/forms/scholarship-applications/")
    ul
      li#fo5li1(class="notranslate focused")
        label(class="desc" id="title1" for="Field1") Iron Yard Diversity Scholarship
        div
          textarea(id="Field1" name="Field1" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="1" onkeyup="handleInput(this); validateRange(1, 'word');" onchange="handleInput(this);")
      li#fo5li2.notranslate  
        label(class="desc" id="title2" for="Field2") Mad Mobile Scholarship
        div
        textarea#Field2(name="Field2" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="2" onkeyup="handleInput(this); validateRange(2, 'word');" onchange="handleInput(this);")
      li#fo5li3.notranslate     
        label(class="desc" id="title3" for="Field3") St. Petersburg Chamber Scholarship
        div
        textarea#Field3(name="Field3" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="3" onkeyup="handleInput(this); validateRange(3, 'word');" onchange="handleInput(this);")
      li.buttons
        div
          input(type="hidden" name="currentPage" id="currentPage" value="MTZKUSmZOwzkiJ8wUfKjDRYB4nR7FssEaZ1MCwuBe59Ozo=")
          input(id="saveForm" name="saveForm" class="btTxt submit btn" type="submit" value="Submit" onmousedown="doSubmitEvents();")
      li.hide
        label(for="comment") Do Not Fill This Out
        textarea(name="comment" id="comment" rows="1" cols="1")
        input(type="hidden" id="idstamp" name="idstamp" value="5UOTOapywyXu8iJM0MBS+64dnhb+bx6VeL7L+uJKlJM=")
        input(type="hidden" id="stats" name="stats" value="{&quot;errors&quot;:0,&quot;startTime&quot;:0,&quot;endTime&quot;:0,&quot;referer&quot;:&quot;https:\/\/ironyard.wufoo.com\/admin\/&quot;}")
        input(type="hidden" id="clickOrEnter" name="clickOrEnter" value="")
