extends /layouts/main

block meta
  +meta({
    title:"The Iron Yard | Tuition",
    description:" "
  })

block content
  +navigation({
    title: "Invest in Your Future",
    color: 'gray-dark',
    links: [
      {title:"Tuition", url:"#tuition"},
      {title:"Financing", url:"#financing"},
      {title:"Scholarships", url:"#scholarships"}
    ]
  })

  .container
    .row#tuition
      .col-md-12: h1 Tuition
        //- h4(style="padding-bottom: 0px;") Joining The Iron Yard Family
        p When you are accepted to The Iron Yard Academy, you join a family that extends far beyond your individual class or campus. Our code school and accelerator graduates comprise a national network of tech professionals, giving you access to people and companies in almost every sphere of the industry. 
      hr
      .col-md-6
        h4(style="padding-bottom: 0px;") Course costs
        p Tuition is <strong>$12,000</strong>. We have <a href="#financing">financing options</a> and <a href="#scholarships">scholarships</a> available. Our package is one of the most affordable ways to launch and grow a successful programming career. 
        p • 12 weeks of intensive code education and mentorship<br>• Job placement and career support<br> • Freelance support<br> • Access to The Iron Yard network
      .col-md-6
        h4(style="padding-bottom: 23px;") Success stories
        .col-md-7
          a(href="https://vimeo.com/69189571")
            img.photo(src="/images/academy/front-end-engineering/marco-quote.jpg")
          p Read more on our <a href="http://stories.theironyard.com">Stories Blog</a>.
        .col-md-5
          p(style="margin-top: 0px; font-size: 17px;")
            em "I was amazed at the amount of skill these students had acquired after only a month-and-a-half of teaching."
            br
            strong — Marco Suarez, Sr. Product Designer at Etsy


  .horizontal-section.gray-light-bg
    .container
      .row#financing
        .col-md-4: h1 Financing
          p Our goal is to make it as easy as possible for you to launch a successful programming career. Explore our financing options below. 
          p Each financing option requires a $1000 deposit to reserve your spot in class.
        .col-md-8
          blockquote(style="padding-top: 10px;")
            p(style="font-size: 24px;")
              “Andy’s skill set coming out of The Iron Yard Academy is nothing short of amazing. The experience he gained applying practical solutions to real world problems over the course of 12 weeks is more impressive than the experience most CS students gain in four years."
            footer  Terry Horner, Data Scientist at Keen IO
        hr
      .row(style="margin-bottom: 20px;")
        .col-md-6(style="background: rgba(190, 190, 190, 0.76);")
          h3 Finance with Climb Credit
          p(style="font-size: 15px;") We are excited to offer financing through a partnership with <a href="http://climbcredit.co">Climb Credit</a>. Their plan offers 100% financing over a 3-year period. Once accepted to our program, you can apply for approval. Most applicants find out if they qualify in the same day. 
        .col-md-6(style="background: rgba(190, 190, 190, 0.53);")
          h3 Finance with Upstart
          p(style="font-size: 15px;") We also partner with Upstart, who can help you finance your experience at The Iron Yard. Once you've applied to our program, ask your local Campus Director about this option during the interview process to get details.

      
