include /mixins/photo-bar
//- include /mixins/schema
extends /layouts/main

block meta
  +meta({
    title: 'Welcome to The Iron Yard',
    description: "We run an intensive code school, a startup accelerator, kids's programming classes, and organize tech conferences and events."
  })

block content
  +navigation({
    color: 'gray-dark',
    title: '',
    triangle: false,
    gradient: false,
    home: true,
  })
  .container-fluid.hero-banner-home
    .close-video
      img(src='/images/close-video.png')
    .vimeo(class="inactive")
    .container
      .col-xs-12
        h1 Learn to Code.
        h3 Life's too short for the wrong career.
        a.btn.watch-video 
          img(src="/images/home/play-icon.png")
          span Watch the Video
  .container-fluid.gray-light-bg
    .container
      .row
        .col-xs-12.no-padding(style="text-align: center;")
          .media-logo
            a(href="http://news.theironyard.com"): img.photo(src="/images/home/media/atlantic-logo.png") 
          .media-logo
            a(href="http://news.theironyard.com"): img.photo(src="/images/home/media/fastco-logo.png")
          .media-logo
            a(href="http://news.theironyard.com"): img.photo(src="/images/home/media/cnn-logo.png") 
          .media-logo
            a(href="http://news.theironyard.com"): img.photo(src="/images/home/media/tc-logo.png")
          .media-logo
            a(href="http://news.theironyard.com"): img.photo(src="/images/home/media/abc-logo.png")
          .media-logo
            a(href="http://news.theironyard.com"): img.photo(src="/images/home/media/nbc-logo.png")
          .media-logo
            a(href="http://news.theironyard.com"): img.photo(src="/images/home/media/wsj-logo.png") 
          //- a(href="http://news.theironyard.com"): img.photo(src="/images/home/news/wall-street-journal.png" style="max-width:120px; max-height:90px;") 

  .container
    .row.stories-section
      .col-xs-12.col-sm-6
        .big-quote 
          h1 The Iron Yard is the beginning of a lifelong journey.
          p -Lance Putnam, Greenville, SC Front End Engineering Graduate
      .col-xs-12.col-sm-6
        p. We exist to create exceptional growth and mentorship for our students. Join people from all walks of life pursuing their dream of launching a career in technology.
        a.btn.read-stories(href="/stories") Read Our Student Stories

  .container-fluid.gray-light-bg.student-section
    .container
      .row
        .col-xs-12.col-sm-6.col-lg-3
          img(src="/images/home/home-student.png")
          .student-copy
            h3.fee-name Joe Tamburro
            p Front End Engineering Student
            p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit.
            a.fee-link() Read Joe's story
        .col-xs-12.col-sm-6.col-lg-3
          img(src="/images/home/home-student.png")
          .student-copy
            h3.python-name Joe Tamburro
            p Front End Engineering Student
            p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit.
            a.python-link() Read Joe's story
        .col-xs-12.col-sm-6.col-lg-3
          img(src="/images/home/home-student.png")
          .student-copy
            h3.design-name Joe Tamburro
            p Front End Engineering Student
            p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit.
            a.design-link() Read Joe's story
        .col-xs-12.col-sm-6.col-lg-3  
          img(src="/images/home/home-student.png")
          .student-copy
            h3.rails-name Joe Tamburro
            p Front End Engineering Student
            p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit.
            a.rails-link() Read Joe's story


  .container.code-school-section 
    .row(style='margin-bottom: 120px;')
      .col-md-7.col-xs-12
        h2 Intensive Code School
        p(style="margin-bottom: 0px;") The Iron Yard Academy teaches intensive, three-month courses that mentor you into a professional junior-level programmer. Our program goes far beyond tactical skills and teaches you to think like a software engineer. Programming is a lifelong study, and our process shows you to learn how to learn so you remain highly valuable for the rest of your career.
        a.btn.discover-courses(href="/courses") Discover Our Courses
      .col-md-5.col-xs-12(style="padding-top: 45px;") 
        img(src="/images/home/students-home.jpg")
        .caption We run mentorship-driven programs focused on Digital Health and Education.

  .container-fluid.gray-light-bg(style="padding: 60px 0;")
    .container.courses-section
      .row
        .course-box.fee-eng
          img(src="/images/home/fee-icon.png")
          .fee-header front end engineering
          p Learn to build in-browser apps in the Front End Engineering program using HTML, CSS and JavaScript and basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.
          .btn find out more
        .course-box.web-design
          img(src="/images/home/wd-icon.png")
          .design-header web design
          p Learn Web Design from the ground up, including ideation, UI and UX design, front-end code and a whole lot more.
          .btn find out more
        .course-box.rails-eng
          img(src="/images/home/rails-icon.png")
          .rails-header rails engineering
          p Learn Ruby on Rails, one of the most popular server-side frameworks in the world. You’ll know how to build fast, production-quality full-stack apps.
          .btn find out more
        .course-box.mobile-eng
          img(src="/images/home/mobile-icon.png")
          .mobile-header Mobile Engineering
          p Learn iOS app development using Xcode 5 and a whole lot of Objective-C. At the end of the class you’ll have the skills to create beautiful, fully functional iOS apps and the foundation to pursue building Mac apps.
          .btn find out more
        .course-box.python-eng
          img(src="/images/home/python-icon.png")
          .python-header Python Engineering
          p Learn to analyze data and publish insights using Python and machine learning. At the end of the class you’ll make magic happen with real-world data sets and you'll know how to build web apps to show off your wizardry.
          .btn find out more
        .course-box
          h2 now accepting applications
          .btn.apply-now apply now
          br
          a() Learn about Tuition

  .container
    .row
      .contact-container
        .questions
          .top-content
            h3 Questions? Get in touch.
            p We'd love to answer your questions. We also love explaining what makes us different and our friendly team members want to help you make the best choice possible for your career. Feel free to reach out digitally or call and talk to a human.
          .bottom-content
            .email
              .content
                img(src="/images/home/email.png")
                h3 Email Us
            .chat
              .content
                img(src="/images/home/chat-icon.png")
                h3 Chat with Us
        .phone-numbers
          ul
            li 
              p Atlanta:
              a() (456)7890123
            li 
              p Austin:
              a() (456)7890123
            li 
              p Charleston:
              a() (456)7890123
            li 
              p Columbia:
              a() (456)7890123
            li 
              p Durham:
              a() (456)7890123
            li 
              p Nashville:
              a() (456)7890123
          ul
            li 
              p Greenville:
              a() (456)7890123
            li 
              p Houston:
              a() (456)7890123
            li 
              p Little Rock
              a() (456)7890123
            li 
              p Orlando:
              a() (456)7890123
            li 
              p Tampa Bay:
              a() (456)7890123
            li 
              p Washington D.C.:
              a() (456)7890123

  .container-fluid.employers-section
    .container
      .row
        h2 Employers
        p Our proven career support program and relationships with companies mean our graduates find amazing work. Whether you’re looking to join a startup, work at an agency, or get your foot in the door of a large organziation, our team will support you every step of the way. 
      .row
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/active-network-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/ally-bank-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/amazon-logo.png")
      .row
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/att-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/benefit-focus-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/bi-logo.png")
      .row
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/boomtown-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/bronto-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/chaione-logo.png")
      .row
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/chaotic-moon-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/cloudspace-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/coke-logo.png")
      .row
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/cognitect-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/disruption-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/emcien-logo.png")
      .row
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/github-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/ibm-design-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/microsoft-logo.png")
      .row
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/notre-dame-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/path-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/poetic-logo.png")
      .row
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/prismatic-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/redhat-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/sparc-logo.png")
      .row.text-center
        .col-xs-12
          .employer-icon
            img(src="/images/home/employers/validic-logo.png")
  .container.sponsors-section
    .row
      .col-md-12
        h3 Our Sponsors
    .row
      .col-xs-12
        .col-xs-12.col-md-2.col-md-offset-1
          img(src="/images/home/sponsors/github-logo-gray.png")
        .col-xs-12.col-md-2
          img(src="/images/home/sponsors/invision-logo-gray.png")
        .col-xs-12.col-md-2
          img(src="/images/home/sponsors/macaw-logo-gray.png")
        .col-xs-12.col-md-2
          img(src="/images/home/sponsors/wercker-logo-gray.png")
        .col-xs-12.col-md-2
          img(src="/images/home/sponsors/symbolset-logo-gray.png")


block scripts
  script()