extends /layouts/main

block meta
  +meta({
    title: 'The Iron Yard | Las Vegas, NV Code School',
    description: "Learn to code. We teach Front End Engineering, Rails Engineering, Mobile Engineering, and Pything Engineering right here in Las Vegas, NV. "
  })


block content
  +navigation({
    title: 'Las Vegas',
    color: 'green',
    image: '/images/locations/las-vegas/las-vegas-hero.jpg',
    cutout: true,
    links: [
      {title: "What We Offer", url: "#programs"},
      {title: "Connect", url: "#connect"}
    ]
  })

  .container-fluid(style="padding:0")
    .main
      .container

        .row(style="margin:20px 0")
          .col-sm-8
            h1 The Iron Yard In Las Vegas
            p 
              | Nashville is a classic Southern city with a rich heritage in music. As robust as the city’s past is, entrepreneurs and tech companies are working to help build the future and make one of Tennessee’s largest cities one of Southeast’s best places to grow a software company. 
              |<br><br>We're working directly with Launch Tennessee to bring tech education to the already-robust ecosystem they've built for startups. 
          .col-sm-4
            h3(style="margin-top: 20px; font-size: 27px;") Learn to code. Life's too short for the wrong career.
            hr
            p(style="font-size:16px; margin-top:3px") 
              | Our intensive coding courses will launch soon in Las Vegas. Study Mobile Engineering, Rails Engineering, Front End Engineering, or Python Engineering and launch a new career. 
            a(href="/academy" class="btn") 
              | Enroll Today

      .horizontal-section.gray-light-bg#programs
        .container
            .row
              .col-md-6
                img.photo(src="/images/locations/las-vegas/las-vegas-academy.jpg")
              .col-sm-6
                h4 The Academy
                p We offer three intensive Academy courses in Las Vegas. Our grads get jobs with amazing local companies as well as awesome shops around the country. 
                a(href="/academy" class="btn") Learn More
            .row(style="margin-top: 30px;")
              .col-md-4
                h4(style="padding-bottom: 0px;"): a(href="/academy/front-end-engineering").green-text <img src="/images/locations/icons/js-icon.png" style="height:24px"> <strong>Front End Engineering</strong>
                p Learn Front End Engineering using HTML, CSS and JavaScript and basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.
              .col-md-4
                h4(style="padding-bottom: 0px;"): a(href="/academy/rails-engineering").green-text <img src="/images/locations/icons/rails-icon.png" style="height:24px"> <strong>Rails Engineering</strong>
                p Learn Ruby on Rails, one of the most popular server-side frameworks in the world. At the end of class you’ll know how to build fast, production-quality full-stack apps.
              .col-md-4
                h4(style="padding-bottom: 0px;"): a(href="/academy/python-engineering").green-text <img src="/images/locations/icons/python-icon.png" style="height:24px"> <strong>Python Engineering</strong>
                p Learn to analyze and publish data using Python and machine learning. At the end of the class you’ll make magic happen with real-world data sets and you'll know how to build web apps to show off your wizardry. 
                           
      .horizontal-section
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/nashville/nashville-kids.jpg")
            .col-sm-6
              h4 Kids Classes
              p 
                | We’ll launch our free code classes for kids in mid 2015. Sign up for the newsletter to be notified when things are ready. 
              a(href="http://eepurl.com/bbu6RX " class="btn") Newsletter
      
      //- .container  
      //-   .row
      //-     .col-sm-7.mobile-container
      //-       h2 Meet Our Charleston Team
      //-       .row.left-column
      //-         .photo-list
      //-           .photo-container
      //-             a(href="/about/team#sally"): img.photo-mentor(src="/images/about/sally-kingston.jpg")
      //-           h3(style="font-size: 24px;") Sally Kingston
      //-           h4 Campus Director
      //-         .photo-list
      //-           .photo-container
      //-             a(href="/about/team#nick"): img.photo-mentor(src="/images/about/team-nick.jpg")
      //-           h3(style="font-size: 24px;") Nick Bucciarelli
      //-           h4 Rails Instructor
      //-         .photo-list
      //-           .photo-container
      //-             a(href="/about/team#calvin"): img.photo-mentor(src="/images/about/team-calvin.jpg")
      //-           h3(style="font-size: 24px;") Calvin Webster
      //-           h4 Front End Instructor  


      .horizontal-section.gray-light-bg.last
        .container
          .row
            .col-sm-6.col-md-8
              h4 Recent posts from the blog
              ul.no-style-type.recent
            .col-sm-6.col-md-4#connect
              h2(style="margin: -10px 0;") Connect
              hr
              ul.no-style-type
                li: a.green-text(href="/jobs") We're Hiring in Las Vegas!
                li: a.green-text(href="http://blog.theironyard.com") Blog
                li: a.green-text(href="mailto:lasvegas@theironyard.com") lasvegas@theironyard.com
                //- li: a.green-text(href="tel:+6159530089") (615) 953-0089


block scripts
  +blogFeed('blog')
