extends /layouts/main

block meta
  +meta({
    title:"The Iron Yard | Jobs",
    description:"Passionate about tech, education, and working with a really talented, really fun team?"
  })

block content
  +navigation({
    title: "Jobs",
    color: 'gray-dark',
    gradient: false,
    image: '/images/locations/map-new.jpg', 
    cutout: true,
    links: [
      {title:"Our mission", url:"#mission"},
      {title:"Our culture", url:"#culture"}
    ]
  })

  .container.jobs-section
    .row(style="margin-top:50px")
      .col-md-8
        h1(style="display: inline-block;") We're hiring! Jump to
        select
          option(value="atlanta" selected="selected") Atlanta, GA
          option(value="austin") Austin, TX
          option(value="charleston") Charleston, SC
          option(value="columbia") Columbia, SC
          option(value="greenville") Greenville, SC
          option(value="houston") Houston, TX
          option(value="indianapolis") Indianapolis, IN
          option(value="las-vegas") Las Vegas, NV
          option(value="little-rock") Little Rock, AR
          option(value="nashville") Nashville, TN
          option(value="orlando") Orlando, FL
          option(value="durham") Raleigh-Durham, NC
          option(value="tampa") Tampa Bay, FL
          option(value="washington-dc") Washington, D.C.
        p Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue.
        hr
        #whr_embed_hook
      .col-md-4
        img.photo(src="/images/jobs/academy-jobs-10.jpg" style="margin-bottom:10px; max-width:500px")
        img.photo(src="/images/jobs/academy-jobs-1.jpg" style="margin-bottom:10px; max-width:500px")
        img.photo(src="/images/jobs/academy-jobs-13.jpg" style="margin-bottom:10px; max-width:500px")
        img.photo(src="/images/jobs/academy-jobs-11.jpg" style="margin-bottom:10px; max-width:500px")
        img.photo(src="/images/jobs/academy-jobs-7.jpg" style="margin-bottom:10px; max-width:500px")
        img.photo(src="/images/jobs/academy-jobs-5.jpg" style="margin-bottom:10px; max-width:500px")
        img.photo(src="/images/jobs/academy-jobs-6.jpg" style="margin-bottom:10px; max-width:500px")
        img.photo(src="/images/jobs/academy-jobs-3.jpg" style="margin-bottom:10px; max-width:500px")
        img.photo(src="/images/jobs/academy-jobs-8.jpg" style="margin-bottom:10px; max-width:500px")
        img.photo(src="/images/jobs/academy-jobs-2.jpg" style="margin-bottom:10px; max-width:500px")
        img.photo(src="/images/jobs/academy-jobs-12.jpg" style="margin-bottom:10px; max-width:500px")
        img.photo(src="/images/jobs/academy-jobs-4.jpg" style="max-width:500px")

block scripts  
  script(src="//platform.twitter.com/oct.js" type="text/javascript")
  script(type="text/javascript")
    :js
      twttr.conversion.trackPid('l58be');
  
  noscript
    img(height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l58be&p_id=Twitter")

    img(height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l58be&p_id=Twitter")

  //- job filters
  script(src='https://www.workable.com/assets/embed.js' type='text/javascript')
  script(type="text/javascript" charset='utf-8')
    :js
      whr(document).ready(function(){
        whr_embed(13505, {detail: 'titles', base: 'locations', zoom: 'state'});
      });

  script
    :js
      $.get('http://www.workable.com/spi/v2/accounts/the-iron-yard/jobs?access_token=fefa860a8286245d0a18b5584c9742d4de752cba7fd6247d8417a096e6053ad1').done(function(data){
          console.log(data);
        });
      mycallback = function(data){
        alert(data.foo);
      };

  