.container-fluid.gray-dark-bg
	.footer
		.row
			//- .logo
			//- 	img(src="/images/footer-logo.png")
			.footer-nav: ul
				li: a(href="/academy") Courses
				li: a(href="/locations") Locations
				li: a(href="/stories") Stories
				li: a(href="/jobs") Jobs
				li: a(href="/about") About
				li: a(href="/events") Events
				li: a(href="http://news.theironyard.com") Headlines
				li: a(href="/press") Press
				li: a(href="http://blog.theironyard.com") Blog
				li: a(href="/accelerator") Ventures
			.copyright ©2015 The Iron Yard. All Rights Reserved 
			.tiy-logo
				img(src='/images/home/tiy-logo.png') 
			//- .social-nav: ul
			//- 	li: a(href="http://twitter.com/theironyard").ss-icon twitter
			//- 	li: a(href="http://facebook.com/theironyard").ss-icon facebook
			//- 	li: a(href="http://vimeo.com/theironyard").ss-icon vimeo	
			
