extends /layouts/main
include /mixins/stories-contact

block meta
  +meta({
      title:"The Iron Yard | Stories",
      description:"Matt Bertino tells us how The Iron Yard helped him pursue his startup dreams."
    })

block content
  +navigation({
    title: 'Stories: Matt Bertnio', 
    color: 'gray-dark',
    font: '40px'
  })

  .container
    .row(style="margin-top: 60px;")
      .col-md-8.col-xs-12
        p(style="font-style: italic;") Matt Bertino was tired of working for someone else. His desire to build something from scratch to launch ideas of his own is what propelled him to take the Front End Engineering course at The Iron Yard. His passion for learning and building prototypes for clients has kept him around. Matt currently works at The Iron Yard’s Digital Health Accelerator in as the Developer in Residence. 
        p With his background in finance and economics, including four years’ experience as a business analyst for a large company, Matt knew he had the skills to run a business. What he didn’t have was the technical ability to launch an application as a prototype. During his time at The Iron Yard, Matt learned the ins and outs of front end engineering, and how to think like a software engineer. He regularly worked 90 hour weeks, sticking around his classroom to go over questions with his instructor, chipping away at JavaScript code and building out real-world applications. And then he would go home and eat and do it all over again the next day.
        p <blockquote><em>It was great! It was very stressful but it was very good. I’ve gotten everything out of it that I wanted to get out of it and then some, and the people have been so great to me.</em></blockquote> 
        img.photo(src="/images/stories/matt-bertino-story-editorial.jpg" styles="max-width: 310px")
        p Matt’s final project was a product for travel sports teams to track their players, manage tryouts, and contact parents and players. He achieved his goal of building out a project that would allow clients to see and interact with their idea. Since completing the course, Matt has begun adding Ruby on Rails and node.js backend technologies to his repertoire: 
        p <blockquote><em>I’ve been learning the backend as well, learning Rails and Node.js on the side for serve-side languages. And hopefully when that’s all settled, and I don’t know if I’ll ever be settled on learning that, but if I am I may jump into the mobile, but I think I’m focused on the web for now.</em></blockquote>
        p Matt says that The Iron Yard gave him the foundation he needed to be a lifelong learner and adapt to changing technology.
        p His time at The Iron Yard Academy gave Matt a taste of the startup lifestyle, and, combined with his dad’s entrepreneurial example, he’s hooked now. That’s what led him to apply for the Developer in Residence position in the Accelerator program—an extremely competitive job to get, especially for a young programmer. Ultimately, though, his ability to build prototypes quickly helped him win the position.
        p <blockquote><em>Now I’m working for The Iron Yard accelerator in the Digital Health space. I’m the Developer in Residence. My job is to help these companies with whatever technical needs they have, whether that’s building a prototype, website, or giving advice on a particular product. It’s been a lot of fun, and since I want to eventually do a startup of my own, I’ve been gathering so much experience from hearing all these great mentors. It’s been a great experience!</em></blockquote>
        p And he knows The Iron Yard will be on his side when he does:
        p <blockquote><em>Everyone’s so willing to help and it literally just takes a phone call or an email to get introduced. Once you’re in the family, the family is willing to help out.</em></blockquote>
        p(style="font-style: italic;") Ready to start your story? Click <a href="http://theironyard.com/stories/academy/">here</a> to learn more about our courses!

      .col-md-4
        img.photo(src="/images/stories/matt-story.jpg" styles="max-width: 310px")
      .col-md-4 
        +stories-contact('Stories-Academy Landing')
        
